<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiniMap - Dropdowns</title>
</head>
<body>
    <h1>Choose Your Options</h1>

    <form method="post" action="/directions">

        <label for="entrance">Select Entrance Option:</label>
        <select id="entrance" name="entrance">
            {% for opt in entranceOptions %}
                <option value="{{ opt.id }}">{{ opt.name }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="classroom">Select Classroom Option:</label>
        <select id="classroom" name="classroom">
            {% for opt in classroomOptions %}
                <option value="{{ opt.id }}">{{ opt.name }}</option>
            {% endfor %}
        </select>

        <br><br>

        <button type="Get Directions">Submit</button>

        <div style="height: 30px;"></div>

        <div class="radio-group">
            <strong>Route:</strong>
            <label class="radio-option">
                <input type="radio" name="routePref" value="elevator"> Elevator
            </label>
            <label class="radio-option">
                <input type="radio" name="routePref" value="stairs"> Stairs
            </label>
            <label class="radio-option">
                <input type="radio" name="routePref" value="none" checked> No Preference
            </label>
        </div>
    </form>

    </form>

    <hr>

    {% if error %}
        <p style = "color: red">{{ error }}</p>
    {% endif %}

    {# Show step-by-step directions if available #}
    {% if steps %}
        <h2>Step-by-step directions</h2>
        <ol>
            {% for step in steps %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if steps %}
    <div id="directions-panel">
    <h2>Directions</h2>
    
    <div id="directions-card-container"></div>

    <script>
        const directionSteps= {{  steps | tojson }};
    </script>

    <script src="{{ url_for('static', filename='js/directions.js')}}"></script>
    </div>
    
    {% endif %}


</body>
</html>
